{% extends 'base.html' %}


{% block content %}

    {% if user.is_authenticated %}
    <h1>Records</h1>


        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">email</th>
                <th scope="col">address</th>
                <th scope="col">created at</th>
              </tr>
            </thead>
            <tbody>
                {% if records %}
                {% for record in records %}
                
              <tr>
                <th scope="row"><a href="{% url 'record' record.id %}">{{ record.id }}</a></th>
                <td>{{ record.first_name }} </td>
                <td>{{ record.last_name }}</td>
                <td>{{ record.email }}</td>
                <td>{{ record.adress }}</td>
                <td>{{ record.created_at }}</td>
              </tr>
            
              {% endfor %}
            </tbody>
          </table>
            
            
            
            
            
            


            
            
            <br>
            <br>
      

    {% endif %}


    {% else %}
    <div class="col-md-6 offset-md-3">

    <h1>Login</h1>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}

        <div class="mb-3">
            <input required type="text" class="form-control" aria-describedby="emailHelp" name="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <input required type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>



    </form>
    </div>

{% endif %}
{% endblock %}